
<div id="carousel" class="carousel slide" data-ride="carousel" data-inteal=10>
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Items -->
    <div class="carousel-inner">
        
        <div class="item active">
            <img src="https://prium-solutions.com/wp-content/uploads/2016/12/priumsolutions2-copie.png" alt="Slide 1" width="200px" height="200px" />
        </div>
        <div class="item">
            <img src="https://www.ald.softbankrobotics.com/sites/aldebaran/files/logos-picture/2016_digital_logo_sbr_158x33_0.png" alt="Slide 2" width="200px" height="200px" />
        </div>
        <div class="item">
            <img src="https://www.makake.co/assets/logo_picto-e18d4ec6a00d7033509e3b29bef15cf4b19b3518dfd698e088262b1168af02b6.png" alt="Slide 3" width="200px" height="200px" />
        </div>
    </div> 
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left fa fa-angle-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right fa fa-angle-right"></span>
    </a>
</div>

