%div#resume
  %div
    .row#personal.note
      .col-lg-3
        .row Marhic Jerome
        .row 39 rue du Poitou
        .row 44115 Basse-Goulaine
        .row France
      .col-lg-3
        .row marhic.jerome@gmail.com
        .row 07.68.18.51.36
      .col-lg-3.pull-right
        %img.pull-right.id_pic{src: "http://prium-solutions.com/wp-content/uploads/2016/11/jerome-150x150.jpg"}
    %h1
      Web Developer Fullstack
      %br
      %small
        Ruby on Rails
        %i.fa.fa-minus
        AWS
        %i.fa.fa-minus
        Javascript
    .row#skills
      %h2.section_header
        Technical Skills
      %ul
        %li 
          Rails 5
          %i.fa.three_stars
          %br
          %small RVM, Capistrano, Devise, OAuth2
        %li
          Amazon Web Services
          %i.fa.four_stars
          %br
          %small EC2, RDS, Route 53
    .row#work
      %h2.section_header
        Work Experience
      %ul
        %li 
          January 2016-February 2017 
          Prium Solutions, Paris, France
          Ruby on Rails developer. Developed multiple websites and applications for various clients. Server management.
        %li
          November 2011-December 2013
          Visual Concepts Korea, Seoul, South Korea
          Game developer. C++. Worked on the 
    .row#languages
      %h2.section_header
        Languages
      %ul
        %li
          %b French
          Mother tongue
        %li
          %b English
          Fluent (TOEIC 985, many years abroad including USA and Australia)
        %li
          %b Japanese
          Conversational (JLPT 2, December 2015. JLPT 1, waiting for results announcement. 1 year in Japan)
        %li
          %b Korean
          Basis (TOPIK 5, November 2014. 2 years in South Korea)
    .row#education
      %h2.section_header
        Education
      None




