<!-- download button only in the html version -->
%div
  - if request.format == :html
    = link_to resume_path(format: 'pdf'), class:"btn-success download-button", download: "marhic_jerome_resume.pdf" do
      %i.fa.fa-download
      = I18n.t 'download_resume'

%div#resume
  %div
    .row#personal
      .col-lg-3
        .row Marhic Jerome
        .row 39 rue du Poitou
        .row 44115 Basse-Goulaine
        .row France
      .col-lg-3.second-col
        .row marhic.jerome@gmail.com
        .row www.bandanatech.org
      .col-lg-3.pull-right
        - if controller.request.format == 'application/pdf'
          = wicked_pdf_image_tag 'photo_cv', class: 'pull-right id_pic'
        - else
          = image_tag 'photo_cv', class: 'pull-right id_pic'
    %h1
      Web Developer Fullstack
      %br
      %small
        Ruby on Rails
        %i.fa.fa-minus
        AWS
        %i.fa.fa-minus
        Javascript
    .row#skills
      %h2.section_header
        Technical Skills
      .col-lg-6.vertical-line
        %ul
          %li 
            Rails 5
            %i.fa.five_stars
            %br
            %small RVM, Devise, OAuth2
          %li
            Deployment
            %i.fa.four_stars
            %br
            %small Ansible, Capistrano
          %li
            Amazon Web Services
            %i.fa.four_stars
            %br
            %small EC2, RDS, Route 53
          %li
            Javascript, JQuery, React
            %i.fa.three_stars
          %li
            Redis
            %i.fa.four_stars
      .col-lg-6.col-right
        %h4 Interests
        .row
          Serverless:
          %small AWS Lambda, Cloudgate
        .row
          Game making:
          %small C++,SDL,OpenGL,Shaders (GLSL)
        .row
          AI:
          %small Amazon Aurora, Google Tensorflow
        .row
          Criptocurrencies:
          %small Bitcoin, Ethereum
    .row#work
      %h2.section_header
        Work Experience
      %ul
        %li
          %b April 2017-Present
          %i South Korea, Japan.
          Freelance web developer. Working on personal projects and traveling in Asia.
        %li 
          %b
            January 2016-Mars 2017 
          %i
            Prium Solutions, Paris, France.
          Ruby on Rails developer. Developed multiple websites and applications in a variety of domain for internal use and external clients. Server management. Under the direction of Pierre Nouaille-Degorce.
        %li
          %b
            November 2011-December 2013
          %i
            Visual Concepts Korea, Seoul, South Korea.
          Game developer. C++. Developpement of the Pro Baseball 2K online game. Under the direction of Jonathan Rivera. 
    .row#languages
      %h2.section_header
        Languages
      %ul
        %li
          %b French
          Mother tongue
        %li
          %b English
          Fluent (TOEIC 985, many years abroad including USA and Australia)
        %li
          %b Japanese
          Conversational (JLPT 2, December 2015. 1 year in Japan)
        %li
          %b Korean
          Basis (TOPIK 5, November 2014. 2 years in South Korea)
    - if controller.request.format == 'application/pdf'
      %div.alwaysbreak
    .row#education
      %h2.section_header
        Education
      %ul
        %li
          %b Second quarter, 2011
          %i Rochester Institute of Technology, USA.
          Exchange semester. Several courses including Opengl and Computer Vision, matlab.
        %li
          %b 2006-2011
          %i National Institute of Applied Sciencesi (INSA), Rennes. 
          Master of Sciences, Computer sciences. OOP (C++, Java), Linux and scripting languages, Logic, compilation, etc.
           

