
* {
    box-sizing: border-box;
}

body{
  margin: auto;
  max-width: 1024px;
  padding: 30px;
  border: solid;
}

.row{
  //width: 100%;

  &::after{
    content: '';
    clear: both;
    display: table;
  }
}

[class*="col-"] {
    float: left;
}
.col-lg-1{width: 8.333%;}
.col-lg-2{width: 16.66%;}
.col-lg-3{width: 25.0%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.66%;}
.col-lg-6{width: 50.0%;}
.col-lg-7{width: 58.33%;}
.col-lg-8{width: 66.66%;}
.col-lg-9{width: 75.0%;}
.col-lg-10{width: 83.33%;}
.col-lg-11{width: 91.66%;}
.col-lg-12{width: 100.0%;}

.section_header{
  background-color: lightblue;
  padding: 5px;
}

.pull-right{
  float: right;
}

.id_pic{
  border: 2px solid lightblue;
}

.three_stars{
  float: right;
  &::before{
    content: "\f005 \f005 \f005 \f006 \f006";
  }
}


.four_stars{
  float: right;
  &::before{
    content: "\f005 \f005 \f005 \f005 \f006";
  }
}

h1{
  text-align: center;
}

.vertical-line{
  border-right: solid 3px lightblue;
}


